<h2>Welcome, Haris</h2>
<br />
<form action="@Url.Action("Index", "Home" )">
    <input type="submit" value="Devices" />
</form>
<form action="@Url.Action("UserList", "User" )">
    <input type="submit" value="Users" />
</form>
<br />
<form action="@Url.Action("prologue", "CiCo" )">
    <input type="submit" value="Home" />
</form>